<div class="item">
    <i class="large orange cloud upload alternate middle aligned icon"></i>
    <div class="content">
        {{ render('parts.events.meta', { event: event })|raw }}
        <div class="header">
            <a target="_blank" href="{{ event.payload.pull_request.html_url }}">
                {{event.payload.pull_request.title }}
            </a> opened in
            {{ render('parts.events.repo', {event: event})|raw }}
        </div>
        {{ render('parts.events.time', { event: event })|raw }}
    </div>
</div>